.form {
    form {
        display: flex;
        flex-direction: column;
        gap: 45px;

        @media (max-width:768px) {
            gap: 20px;
        }
    }

    // .form-row
    &-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 38px;

        @media (max-width:768px) {
            grid-template-columns: 1fr;
        }
    }

    // .form-item
    &-item {
        label {
            color: #8D8D8D;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            display: block;
        }

        input,
        textarea {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            display: block;
            width: 100%;
            border-bottom: 1px solid #8D8D8D;
            padding: 8px 0;
        }

        &._error {

            input,
            textarea,
            label {
                color: red;
            }

            input,
            textarea {
                border-color: red;
            }
        }
    }

    // .form-text
    &-text {
        margin-top: 145px;

        @media (max-width:768px) {
            margin-top: 135px;
        }
    }

    ._button {
        @media (min-width:769px) {
            margin-left: auto;
            width: fit-content;
        }

        @media (max-width:768px) {
            margin-top: 5px;
            width: 100%;
        }
    }
}

.wpcf7-response-output {
    @include gradientBorder;
}